<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input [(ngModel)]="itemString" (ionInput)="onInput()" #ionInputEl type="text" label="Igresa un Item" labelPlacement="stacked" placeholder="Ingresa un item"></ion-input>
    <ion-button (click)="addItem()" [disabled]="itemString == ''">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>

</ion-content>
